@import "variables";

* {
    font-family: "Inconsolata";
    line-height: normal;
}
.container {
    max-width: $max-width;
}
.navbar-brand {
    @extend %link-dark;
    font-size: 2rem;
}
.nav-link {
    @extend %link-default;
}
#content {
    a {
        @extend %link-default;
    }
    blockquote {
        border-left: 4px solid;
        font-style: italic;
        margin: $margin-y 0;
        padding: 8px 8px;
        & p {
            margin: 0;
        }
    }
    code {
        color: $green;
    }
    h1, h2, h3, h4, h5, h6 {
        font-size: medium;
        font-weight: bold;
        line-height: normal;
        margin: 1.2rem 0 0.8rem 0;
    }
    @for $i from 1 through 4 {
        h#{$i} {
            font-size: 1.2rem + 0.2 * (4 - $i);
        }
    }
    img {
        display: block;
        margin: $margin-y auto;
    }
    div > ol {
        padding-left: 0;
    }
    ol {
        counter-reset: list;
        list-style: none;
        & > li {
            margin: 4px 0;
            &:before {
                content: "[" counter(list, decimal) "] ";
                counter-increment: list;
            }
        }
    }
    pre code {
        color: inherit;
    }
    div > ul {
        padding-left: 0;
    }
    ul {
        list-style: inside;
        & > li {
            margin: 4px 0;
        }
    }
    table {
        margin: $margin-y auto;
        width: 100%;
        & tr {
            background-color: white;
            border: 1px solid #cccccc;
            & td {
                @extend %table-cell;
            }
            & th {
                @extend %table-cell;
                font-weight: bold;
            }
            &:nth-child(2n) {
                background-color: #f8f8f8;
            }
        }
    }
    .avatar > img {
        border-radius: 50%;
        float: right;
        margin: -8px 0 0 16px;
        height: $avatar-size;
        width: $avatar-size;
    }
    .highlight {
        margin: $margin-y auto;
        & > pre {
            padding: 8px 8px;
        }
    }
}
#footer {
    a {
        @extend %link-dark;
    }
}
