@import "variables";
@import "typography";

* {
    color: $dark;
    font-family: "Inconsolata";
    line-height: normal;
}
.container {
    max-width: $max-width;
}
.navbar-brand {
    @extend %link-dark;
    font-size: 2rem;
}
.nav-link {
    @extend %link-default;
}
footer {
    a {
        @extend %link-dark;
    }
}
