<div id="footer" class="mb-5">
    <hr>
    {{ if .Site.Params.socialIcons }}
    <div class="container text-center">
        {{ range $item := .Site.Params.socialIcons }}
            <a href="{{ $item.url }}" class="{{ $item.icon }} fa-1x" title="{{ $item.title }}"></a>
        {{ end }}
    </div>
    {{ end }}
    {{ with .Site.Params.footer }}
        <div class="container text-center">
            <a href="{{ .url | absURL }}" title="{{ .text }}"><small>{{ .text }}</small></a>
        </div>
    {{ end }}
</div>
